.aboutme {
    position: fixed;
    right: 1vh;
    top: 10vh;
    width: 5vh;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

a:nth-child(1) {
    background-image: url('../assets/figma.png');
}

a:nth-child(2) {
    background-image: url('../assets/git.png');
}

a:nth-child(3) {
    background-image: url('../assets/sen.png');
}